<section class="todoapp">
  <header class="header">
    <h3>משימות</h3>
    <div class="new-todo-wrapper">
      <button class="new-todo-btn" {{on "click" this.showAddTodo}} type="button">+</button>
    </div>
  </header>
  {{#if this.repo.showNewItem}}
    <ul class="new-todo-list">
      <TodoItem
        @todo={{this.newTodo}}
        @newItem={{true}}
        @onEndEdit={{this.createTodo}}
      />
    </ul>
  {{/if}}
  {{outlet}}
  {{#if (gt @model.length 0)}}
    <footer class="footer">
      <ul class="filters">
        <li class="todo-count">
          <LinkTo @route="active" @activeClass="selected">לסיום:</LinkTo>
          <strong>{{this.remaining.length}}</strong>
        </li>
        <li class="todo-count">
          <LinkTo @route="completed" @activeClass="selected">הושלמו:</LinkTo>
          <strong>{{this.completed.length}}</strong>
        </li>
        <li class="todo-count">
          <LinkTo @route="index" @activeClass="selected">סה"כ:</LinkTo>
          <strong>{{@model.length}}</strong>
        </li>
      </ul>
    </footer>
  {{/if}}
</section>
<footer class="info">
  <p>לחץ על כפתור ההוספה ליצירת משימה</p>
  <p>לחיצה כפולה לעריכת משימה</p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
