<li class="{{if @todo.done "completed"}} {{if this.editing "editing"}} {{if this.new "new"}}">
  <div class="view">
    {{!-- <input
      class="toggle"
      type="checkbox"
      checked={{@todo.done}}
      {{on "change" this.toggleCompleted}}
    > --}}
    <button class="toggle" 
      {{on "click" this.toggleCompleted}}
      {{!-- disabled="{{if @todo.done true}}"  --}}
      type="button">
    </button>
    <label {{on "dblclick" this.startEditing}} disabled="{{if @todo.done true}}">
      <strong>{{@todo.id}}.</strong>{{@todo.name}}
    </label>
    <button class="destroy" {{on "click" this.removeTodo}} type="button">X</button>
  </div>
    <input
      class="edit"
      value={{@todo.name}}
      {{on "blur" this.doneEditing}}
      {{on "keyup" this.handleKeyup}}
      {{autofocus}}
    >
</li>
